<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="chat-box">
    <% for (const message of messages) { %>
    <div>
      <h2> <%= message.user %> </h2>
      <p> <%= message.text %> </p>
      <p> <%= message.added %></p>
    </div>
    <% } %>
    <form class="input-message" action="/" method="post">
      <textarea name="newMessage" id="input-message-txt"></textarea>
      <button type="submit"> send </button>
    </form>
  </div>
<!-- <a href="new"> new message </a> -->
</body>
</html>
