<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="username-container" action="/username" method="post">
        <div class="input-container">
            <label for="username-input" class="input-label">
                Enter a username
                <input type="text" name="username" id="username-input">
            </label>
        </div>
        <p> This will be used as your name in the chat. </p>
        <button type="submit"> Enter chat </button>
    </form>
</body>
</html>