* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.username-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 20%;
    width: 20%;
    background-color: slategrey;
    padding: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
}